name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 코드 가져오기
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. JDK 설정 (Java 17)
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      # 3. Gradle 빌드
      - name: Build with Gradle
        run: ./gradlew clean build -x test

      # 4. SSH Key 등록 및 파일 생성 (Base64 디코딩 방식)
      - name: Deploy Key Setup
        run: |
          echo "${{ secrets.EC2_KEY }}" | base64 -d > deploy_key.pem
          
          # 2. 키 권한 설정
          chmod 600 deploy_key.pem
          
          # 3. SSH-Agent에 키 추가 (passphrase가 없어야 성공)
          eval "$(ssh-agent -s)"
          ssh-add deploy_key.pem

      # 5. EC2로 JAR 전송
      - name: Copy jar to EC2
        uses: appleboy/scp-action@v0.1.3
        with:
          host: 3.35.246.97
          username: ubuntu
          # 직접 생성한 deploy_key.pem 파일 경로를 key_path로 사용
          key_path: deploy_key.pem
          source: build/libs/battlemap-be-0.0.1-SNAPSHOT.jar
          target: /home/ubuntu/


      # 6. EC2에서 기존 앱 종료 + 새 JAR 실행
      - name: Restart App
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 3.35.246.97
          username: ubuntu
          # 직접 생성한 deploy_key.pem 파일 경로를 key_path로 사용
          key_path: deploy_key.pem

          script: |
            # 환경 변수 설정
            export DB_URL="jdbc:mysql://battlemap-server.clkuus6o63hk.ap-northeast-2.rds.amazonaws.com/battlemap_db"
            export DB_USERNAME="battlemap_user"
            export DB_PASSWORD="${{ secrets.DB_PASSWORD }}"
            export KAKAO_API_KEY="${{ secrets.KAKAO_API_KEY }}"
            
            # 기존 앱 종료
            pkill -f 'battlemap-be-0.0.1-SNAPSHOT.jar' || true
            
            # 로그 파일 초기화 및 새 앱 백그라운드 실행
            > /home/ubuntu/log.out
            nohup setsid java -jar /home/ubuntu/battlemap-be-0.0.1-SNAPSHOT.jar > /home/ubuntu/log.out 2>&1 & disown